{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

<div class="sidebar-container">
    <div class="sidebar-logo">
        <h5>{{ request.user.email }}</h5>
    </div>
    <ul class="sidebar-navigation">
        <li class="header"><h3>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" 
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 
            2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 
            7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 
            6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 
            0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/></svg>
          M@il</h3></li>
        <br>
        <br>
        <br>
        <li>
            <a href="#" id="inbox"><i class="material-icons">inbox</i> Inbox</a>
        </li>
        <br>
            <br>
                <br>
        <li>
            <a href="#" id="compose"><i class="material-icons">create</i> Compose</a>
        </li>
        <br>
            <br>
                <br>
        <li>
            <a href="#" id="sent"><i class="material-icons">send</i> Sent</a>
        </li>
        <br>
            <br>
                <br>
        <li>
            <a href="#" id="archived"><i class="material-icons">archive</i> Archived</a>
        </li>
        <br>
            <br>
                <br>
        <li>
            <a href="{% url 'logout' %}"><i class="material-icons">logout</i> Log Out</a>
        </li>
    </ul>
</div>

<div class="content-container">
    <div id="emails-view" class="container">
    </div>
    
    <div id="compose-view">
        <h3 style="border-bottom: solid #af1717 thin;">New Email</h3>
        <br>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea rows="9" class="form-control" id="compose-body" placeholder="Body"></textarea>
            <hr>
            <input type="submit" class="btn btn-outline-danger btn-lg btn-block">
        </form>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}